<div class="blue lighten-4 about-section-collapsed hvr-fade" id="about-section-collapsed" style="display:none;">
  <div class="section container">
    <span id="showAbout" class="hoverable">Learn about MetroFuture. <i class="mdi-hardware-keyboard-arrow-down right"></i></span>
  </div>
</div>
<div class="blue lighten-4" id="about-section">
  <div class="section container">
    <div>
      <div class="row">
        <div class="col s6">
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>

          <h4 style="font-family: Futura, Futura-Medium, 'Futura Medium', 'Century Gothic', CenturyGothic, 'Apple Gothic', AppleGothic, 'URW Gothic L', 'Avant Garde', sans-serif; letter-spacing: 0.04em;">
            METROFUTURE <br/>
            DRIVES THE REGION.
            <!-- SETS A VISION -->
            <!-- ADVANCES THE REGION -->
          </h4>
          <p>
            MetroFuture is <a href="http://mapc.org" target="_blank">MAPC</a>'s 30-year plan for our region, and guides the work of the agency. MetroFuture envisions smart growth and regional collaboration in the MetroBoston region.
          </p>
          <p>
            Browse the projects here and learn what MetroFuture looks like when it's put into action.
          </p>
          <a class="waves-effect waves-light btn indigo darken-4" href="http://metrofuture.org" target="_blank">
            <i class=""></i>Learn More
          </a>
          <a class="waves-effect waves-light btn indigo darken-4" href="http://www.mapc.org/sites/default/files/MetroFuture_Goals_and_Objectives_1_Dec_2008.pdf" target="_blank">
            <i class="mdi-action-description left"></i>Get the Plan
          </a>

          
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
        </div>

        <div class="col s6">
          <div class="valign-wrapper right" style="height:50px;">
            <img class="valign" style="position:relative;height: 584px;top: 252px;z-index:1000;" src="images/hero-img.png">
          </div>
        </div>
      </div>
      <div class="blue lighten-4 hvr-fade" id="hideAbout">
        <span class="hoverable">Hide <i class="mdi-hardware-keyboard-arrow-up right"></i></span>     
      </div>
    </div>
  </div>
</div>