<div class="blue lighten-4 about-section-collapsed hvr-fade" id="about-section-collapsed" style="display:none;">
  <div class="section container">
    <span id="showAbout" class="hoverable">Learn about MetroFuture. <i class="mdi-hardware-keyboard-arrow-down right"></i></span>
  </div>
</div>
<div class="blue lighten-4" id="about-section">
  <div class="section container">
    <div>
      <h5>Welcome to MetroFuture.</h5>
      <p class="flow-text">MetroFuture is MAPC's 30-year plan for our region, and serves as a guide for the work in all areas of the agency.</p>

      <p class="flow-text">This plan was developed with the extensive participation of thousands of “plan builders,” including residents, municipal officials, state agencies, businesses, community-based organizations, and institutional partners.The plan was adopted by MAPC in 2008.</p>

      <div class="blue lighten-4 hvr-fade" id="hideAbout">
        <span class="hoverable">Hide <i class="mdi-hardware-keyboard-arrow-up right"></i></span>     
      </div>
    </div>
  </div>
</div>