<div class="blue lighten-4 about-section-collapsed hvr-fade" id="about-section-collapsed" style="display:none;">
  <div class="section container">
    <span id="showAbout" class="hoverable">Learn about MetroFuture. <i class="mdi-hardware-keyboard-arrow-down right"></i></span>
  </div>
</div>
<div class="blue lighten-4 full" id="about-section">
  <div class="section container">
    <div>
      <div class="row valign-wrapper">
        <div class="col m6 valign">
          <div class="">
            <h4 class="header-style">
              METROFUTURE <br/>
              DRIVES THE REGION.
              <!-- SETS A VISION -->
              <!-- ADVANCES THE REGION -->
            </h4>
            <p>
              MetroFuture is <a href="http://mapc.org" target="_blank">MAPC</a>'s long-term plan for a more prosperious, equitable, sustainable region which guides all of the agency's work.
            </p>
            <p>
              Browse MAPC's projects below to see what MetroFuture looks like when it's put into action.
            </p>
            <a class="waves-effect waves-light btn hero indigo darken-4" href="http://metrofuture.org" target="_blank">
              <i class=""></i>Learn More
            </a>
            <a class="waves-effect waves-light btn hero indigo darken-4" href="http://www.mapc.org/sites/default/files/MetroFuture_Goals_and_Objectives_1_Dec_2008.pdf" target="_blank">
              <i class="mdi-action-description left"></i>Get the Plan
            </a>
            <p>
              <a class="modal-trigger" href="#about-modal">About this site</a>
            </p>
          </div>
        </div>

        <div class="col m6 hide-on-small-only">
          <img class="hero" src="images/hero-img.png">
        </div>

      </div>
    </div>
  </div>
</div>