<div class="container">
  <div class="row">
    <div class="col l8 s12">
      <h5 class="white-text">About MAPC</h5>
      <p class="grey-text text-lighten-4">The Metropolitan Area Planning Council (MAPC) is the regional planning agency serving the people who live and work in the 101 cities and towns of Metropolitan Boston.</p>
    </div>
    <div class="col l4 s12">
      <ul>
        <li><a class="white-text modal-trigger" href="#modal1">Help</a></li>
        <li><a class="white-text modal-trigger" href="#modal2">Contact</a></li>
        <li><a class="white-text" href="http://www.mapc.org">MAPC Website</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="footer-copyright">
  <div class="container">
    <div class="row">
      <div class="col s12 m4 m4">
        Made with <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>, <a class="orange-text text-lighten-3" href="http://backbonejs.com">Backbone.js</a>, and <a class="orange-text text-lighten-3" href="http://rubyonrails.org">Rails</a>
      </div>
      <div class="col s12 m8 m8">
        <div class="valign-wrapper right" style="height:50px;">
          <img class="valign" src="images/with_love_in_boston.png">
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-content">
      <h1 id="about">About</h1>
        <h3 id="whymetrofutureinaction">Why &#8220;MetroFuture in Action&#8221;?</h3>

        <p>We think it&#8217;s important for you to understand how your tax dollars are being put to work, so we&#8217;ve decided to show you! This site shows active and recently completed projects that the Metropolitan Area Planning Council. </p>

        <p>All of our work is guided by the MetroFuture Regional Plan, MAPC&#8217;s long-term plan for the 134 cities and towns around Boston, which you can <a href="TODO">download and read</a>. The projects you see here demonstrate how MAPC works to make the vision in MetroFuture into reality.</p>

        <h1 id="needhelp">Need help?</h1>

        <h3 id="heresmoreinformationonhowtousethissite.">Here&#8217;s more information on how to use this site.</h3>

        <h4 id="onthehomepage">On the home page</h4>

        <p>The home page showcases MAPC&#8217;s ongoing and completed projects in the MetroBoston region. Want to see more projects? Just keep scrolling down! </p>

        <h4 id="goinghome">Going home</h4>

        <p>Click on &#8220;MetroFuture in Action&#8221; in the top right at any point to return to the home page. </p>

        <h4 id="viewingaproject">Viewing a project</h4>

        <p>Click on a project card to see more details about the project. This page includes information like:</p>

        <ul>
        <li>title and description</li>
        <li>project status &mdash; that is, whether the project is <strong>In Progress</strong>, <strong>Completed</strong>, or <strong>In Development</strong>.</li>
        <li>project manager and lead department</li>
        <li>location, listing the subregions and municipalities the project affects</li>
        <li>project website (if there is one)</li>
        </ul>

        <h4 id="sharingaproject">Sharing a project</h4>

        <p>Do you want to share a specific project with others? You can do this in a few ways.</p>

        <ul>
        <li>Copy the link from the URL bar, and send it however you want.</li>
        <li>Click on the &#8220;Twitter&#8221; button, and you&#8217;ll get a pre-populated tweet you can edit and send.</li>
        <li>Click on the &#8220;Facebook&#8221; button to share it with a friend or post it on your Timeline.</li>
        </ul>

        <h4 id="filtering">Filtering</h4>

        <p>Use the filter menu in the top right of the page to find projects by municipality (a.k.a. city or town), or by <a href="http://www.mapc.org/subregions">MAPC Subregion</a>, which is how MAPC organizes municipalities into larger groups. </p>

        <p>When you click on the filter, you can either scroll through it, or start typing to limit the options the filter presents you with. For example, you could scroll to &#8220;Medford&#8221;, or you could start typing &#8220;Med&#8221; and you would see it right away. </p>

        <h4 id="contactinformation">Contact information</h4>

        <p>Contact information for MAPC is in the footer. The &#8220;Contact&#8221; link will connect you with staff who specialize in implementing the MetroFuture plan. The &#8220;MAPC Website&#8221; link will take you to MAPC&#8217;s homepage. </p>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>

<div id="modal2" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h1 id="contact">Contact</h1>

    <h3 id="metrofuture">MetroFuture</h3>

    <p>Would you like to get in touch with someone about MetroFuture? </p>

    <p>Send an email to our <a href="&#x6d;&#97;&#x69;&#x6c;&#x74;&#x6f;&#x3a;&#x52;&#x65;&#x67;&#x70;&#x6c;&#97;&#x6e;&#115;&#x74;&#97;&#102;&#102;&#64;&#x6d;&#x61;&#x70;&#99;&#46;&#x6f;&#114;&#x67;">&#114;&#101;&#x67;&#105;&#x6f;&#110;&#97;&#108; &#112;&#x6c;&#97;&#110;&#x6e;&#105;&#x6e;&#x67; &#115;&#x74;&#x61;&#102;&#102;</a>. </p>

    <h3 id="proposingaproject">Proposing a project</h3>

    <p>Do you want to work with MAPC? </p>

    <p>See our <a href="http://www.mapc.org/opportunities">Opportunities Page</a> to learn more, or <a href="&#x6d;&#97;&#x69;&#x6c;&#116;&#111;&#x3a;&#105;&#x6e;&#102;&#111;&#64;&#109;&#97;&#x70;&#99;&#46;&#111;&#x72;&#103;">&#x65;&#x6d;&#x61;&#x69;&#108; &#77;&#65;&#x50;&#x43;</a>. </p>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>
