<div class="container">
  <div class="row">
    <div class="col l8 s12">
      <h5 class="white-text">About MAPC</h5>
      <p class="grey-text text-lighten-4">The Metropolitan Area Planning Council (MAPC) is the regional planning agency serving the people who live and work in the 101 cities and towns of Metropolitan Boston.</p>
    </div>
    <div class="col l4 s12">
      <h5 class="white-text">Settings</h5>
      <ul>
        <li><a class="white-text" href="http://www.mapc.org">MAPC Website</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
    <div class="row">
      <div class="col s12 m4 m4">
        Made with <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
      <div class="col s12 m8 m8">
        <div class="valign-wrapper right" style="height:50px;">
          <img class="valign" src="images/with_love_in_boston.png">
        </div>
      </div>
    </div>
  </div>
</div>