<div class="nav-wrapper container"><a id="logo-container" href="/#" class="brand-logo">MetroFuture in Action</a>
  <ul class="right hide-on-med-and-down">
    <li><a id="nav-about">About</a></li>
    <li><a id="nav-projects">Projects</a></li>
  </ul>

  <ul id="nav-mobile" class="side-nav">
    <li><a id="nav-about">About</a></li>
    <li><a id="nav-projects">Projects</a></li>
  </ul>
  <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
</div>