<div class="section container">
  <p>Welcome. Please select based on the filters below.</p>
  <div class="row">
    <div class="input-field col m6 s12">
      <select>
        <option value="" disabled selected>Municipality</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </select>
      <label>Municipality</label>
    </div>
    <div class="input-field col m6 s12">
      <select>
        <option value="" disabled selected>Goal</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </select>
      <label>Goal</label>
    </div>
    <div class="input-field col m6 s12">
      <select>
        <option value="" disabled selected>Filter</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </select>
      <label>Filter</label>
    </div>
  </div>
</div>

