<div id="map-area">
  <div class="floating-layer-toggle">
    <div class="section container">
      <div class="row">
        <div class="col l4 m6 s12 tab-padding-fix">
          <ul class="tabs">
            <li class="tab col s3" id="municipalities"><a class="active" href="#test1">Municipalities</a></li>
            <!-- <li class="tab col s3" id="subregions"><a href="#test2">Subregions</a></li> -->
          </ul>
          <div id="explanation" class="z-depth-0">
            <div class="card-panel blue lighten-4 z-depth-3">
              <strong>Find projects by area.</strong>
              <br>
              Click "Municipalities" or "Subregions" above to switch views. Click a municipality or subregion to see all
              the projects in that area.
            </div>
          </div>
          <div id="feature-data">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="map-body"></div>
</div>
<div class="floating-map-toggle orange lighten-2">
  <div class="section container">
    <div id="toggleMap" class="hvr-fade">
      <!-- <span class="hoverable"><span id="show-text" style="display: none">Show</span><span id="hide-text">Hide</span> Map <i class="material-icons right">map</i></span> -->
    </div>
  </div>
</div>
