<div class="card-panel blue lighten-4 z-depth-3">
  <div class="row">
    <div class="col l12 m12 s12"> 
      <h5><%= context.properties.simple_name %></h5>
    </div>
    <div class="col l12 m12 s12">
      <strong>Projects: <%= context.properties.project_count %></span>
    </div>
  </div>
</div>