<table>
  <thead>
    <tr>
        <th data-field="id">Name</th>
        <th data-field="name">Projects</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= context.properties.simple_name %></td>
      <td><%= context.properties.project_count %></td>
    </tr>
  </tbody>
</table>