<div class="section container">
  <h2><%= data.attributes.name %></h2>
  <% _.each( getGroupedModels(), function ( category, i ) {  %>
    <div id="projects-grid" class="row">
      <h5><%= i %></h5> <br />
      <% _.each( category, function ( project ) {  %>
        <%= projectCardTemplate(project) %>
      <% }) %>
    </div>
  <% }) %>

</div>