<div id="projects-grid" class="section container row">
</div>
<div class="center" id="out-of-projects" style="display:none;">
  <h5 id="lookslikeyoureoutofprojects">Looks like you're out of projects!</h5>
  <p>
    Maybe you'd like to <a href="mailto:info@mapc.org">propose a new project</a>.
  </p>
  <p>
    You could also <a href="http://planning101.mapc.org/">read our blog</a>, or head to the <a href="http://mapc.org">MAPC website</a> to learn more about us.
  </p>
</div>