<div class="card small">
  <div class="card-image">
    <img src="<%= attributes.image %>">
    <span class="card-title"><%= attributes.title %></span>
  </div>
  <div class="card-content">
    <p><%= attributes.description %></p>
  </div>
  <div class="card-action">
    <a href="#projects/<%= id %>">View This Project</a>
  </div>
</div>