<div class="teal lighten-2">
  <div class="section container">
    <div>
      <h5>We are MetroFuture.</h5>
      <p>MetroFuture is MAPC's 30-year plan for our region, and serves as a guide for the work in all areas of the agency.</p>

      <p>The MetroFuture plan supports a vision of smart growth and regional collaboration through the promotion of:</p>
        <ul>
          <li>efficient transportation systems</li>
          <li>conservation of land and natural resources</li>
          <li>improvement of the health and education of residents</li>
          <li>an increase in equitable economic development opportunities for prosperity</li>
        </ul>
      </p>
    </div>
  </div>
</div>
<div id="projects-grid" class="section container">
</div>
