<div id="projects-grid" class="section container row">
</div>
<div class="center loading">
  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
<div class="center" id="out-of-projects" style="display:none;">
  <h5 id="looks-like">
    Looks like you're out of projects, but don't stop here!
  </h5>
  <p>
    <a href="http://metroboston.datacommon.org" target="_blank">
      Explore data about the region</a>,
    <a href="http://planning101.mapc.org" target="_blank">
      browse our blog</a>,
    and
    <a href="http://mapc.org" target="_blank">
      learn much more about what we do</a>.
  </p>
  <p>
    <a href="mailto:inquiries@mapc.org" class="waves-effect waves-light btn indigo">
      <i class="small material-icons left">email</i>
      Contact MAPC
    </a>
    to learn how we can help your community.
  </p>
</div>