<div class="light-green lighten-2" id="about-section">
  <div class="section container">
    <div>
      <h5>We are MetroFuture.</h5>
      <p class="flow-text">MetroFuture is MAPC's 30-year plan for our region, and serves as a guide for the work in all areas of the agency.</p>
    </div>
  </div>
</div>
<div id="projects-grid" class="section container row">
</div>
