<div class="card small">
  <div class="card-image">
    <img src="http://placehold.it/300x200">
    <span class="card-title"><%= name %></span>
  </div>
  <div class="card-content">
    <p><%= greeting %></p>
  </div>
  <div class="card-action">
    <a href="#projects/1">View This Project</a>
  </div>
</div>