<div class="section container">

  <div class="row">
    <h5><%= data.attributes.name %></h5>
  </div>
  <div id="projects-grid" class="row">
    <% if(data.attributes.subregion_unique_projects) { %>
    <% _.each(data.attributes.subregion_unique_projects, function ( project ) {  %>
    <%= projectCardTemplate(project) %>
    <%  }); %>
    <% } else { %>
    <h5>No projects for <%= data.attributes.name %>.</h5> <br />
    <% }; %>
  </div>
