$roboto-font-path: "fonts/";
$icons-font-path: "fonts/";

@import "materialize/sass/materialize";
@import "chosen";

html,body { height: 100%; margin: 0px; padding: 0px; }

#map-body {
    width: 250px;
    height:250px;
}

.completed {
    @extend .mdi-action-done;
    @extend [class^="mdi-"];
}

.in-progress {
    @extend .mdi-action-autorenew;
    @extend [class^="mdi-"];
}

.proposed {
    @extend .mdi-content-add-circle-outline;
    @extend [class^="mdi-"];
}

.in-development {
    @extend .mdi-content-create;
    @extend [class^="mdi-"];
}

.transparent {
    background: none;
    background-color: none;
}

.header-style {
    font-family: Futura, Futura-Medium, 'Futura Medium', 'Century Gothic', CenturyGothic, 'Apple Gothic', AppleGothic, 'URW Gothic L', 'Avant Garde', sans-serif;
    letter-spacing: 0.04em;
}

nav {
    z-index: 100000;
}

nav .brand-logo {
    font-size: 1.6rem;
}

img.hero {
    max-height: 620px;
    width: auto;
    margin-top: -15px;
    margin-bottom: -38px;
}

.btn.hero {
    margin: 5px 0;
}


.progress {
    z-index: 1000;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.previous-article {
    left:2%;
    color: #888;
    cursor: pointer;
    opacity: 0.5;
}

.next-article {
    right:2%;
    color: #888;
    cursor: pointer;
    opacity: 0.5;
}

.pushpin {
    top:50%;
    position: fixed;
    // width: 100%;
}

.about-section-collapsed {
    cursor: pointer;
}

.progress {
    margin:0;
    position:fixed;
    top:0px;
}

#hideAbout {
    cursor: pointer;
}

.arrow-down {
    width: 0; 
    height: 0;
    color: black;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid green;
}

nav {
    ul {
        li {
            .active-result {
                float: none;
            }
        }
    }
}
/* Space out content a bit */
body {
    // padding-top: 20px;
    // padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 1000px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

/* Fade */
.hvr-fade {
  // display: inline-block;
  // vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  // overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #2098d1;
  color: white;
}


#out-of-projects {
    margin-top: 50px;
    margin-bottom: 70px;
}

@media screen and (min-width: 993px) {
    #footer-links ul {
        margin-top: 52px;
    }
}