$roboto-font-path: "fonts/";
$icons-font-path: "fonts/";
$tabs-text-color: white;
$tabs-underline-color: #FF9800;
$tabs-bg-color: #1A237E;

@import "materialize/sass/materialize";
@import "leaflet.css";
@import "mapbox.css";
@import "chosen";
@import "buttons.css";

html,body { height: 100%; margin: 0px; padding: 0px; }

#map-body {
    width: 100%;
    min-height:540px;
}

#map {
    position:relative;
}

#toggleAbout {
    cursor: pointer;
}

#toggleMap {
    cursor: pointer;
}

.card.small .card-content {
    height: 75px;
}

.ellipsis-truncation {
    height: 75px;
}

.card {
    .card-content {
        // height:100px;
        .card-title {
            line-height: 27px;
            font-size: 18px;
            z-index: 600;
        }
        .card-action {
            z-index: 999;

        }
    }
    .small {
        font-size: .85rem;
    }
    .iconography {
        font-size: .8rem;
    }
    .toggle {
        font-size: 1.2rem;
        margin-left: 0px;
        cursor: pointer;
    }
}


.tabs .tab a {
    &:hover {
        color: lighten(#FF9800, 20%);
    }
}

.truncate-custom {
    line-height: 1.5em;
    height: 3em;       /* height is 2x line-height, so two lines will display */
    overflow: hidden;  /* prevents extra lines from being visible */
}

.floating-layer-toggle {
    top: 20px;
    position: absolute;
    z-index: 998;
    width: 100%;
    pointer-events: none;

    .section .row .tab-padding-fix {
        pointer-events: auto;
        padding: 0;
    }

    .card-panel {
        margin: 0;
    }
}

.leaflet-control-attribution {
    display: none;
}

.floating-map-toggle {
    // position: absolute;
    bottom:0;
    width:100%;
    z-index: 999;
    // height:100%;
    // margin-bottom: 0;
}

.map-data-box {
    min-height: 120px;
}

.completed {
    @extend .mdi-action-done;
    @extend [class^="mdi-"];
}

.in-progress {
    @extend .mdi-action-autorenew;
    @extend [class^="mdi-"];
}

.proposed {
    @extend .mdi-content-add-circle-outline;
    @extend [class^="mdi-"];
}

.in-development {
    @extend .mdi-content-create;
    @extend [class^="mdi-"];
}

.transparent {
    background: none;
    background-color: none;
}

.header-style {
    font-family: Futura, Futura-Medium, 'Futura Medium', 'Century Gothic', CenturyGothic, 'Apple Gothic', AppleGothic, 'URW Gothic L', 'Avant Garde', sans-serif;
    letter-spacing: 0.04em;
}

.navbar-fixed {
    z-index: 1001;
}

nav {
    z-index: 100000;
}

nav .brand-logo {
    font-size: 1.6rem;
}

img.hero {
    max-height: 620px;
    width: auto;
    margin-top: -15px;
    margin-bottom: -38px;
}

.btn.hero {
    // margin: 5px 0;

    a {
      color: white;
    }
}

.progress {
    z-index: 1050;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.previous-article {
    left:2%;
    color: #888;
    cursor: pointer;
    opacity: 0.5;
}

.next-article {
    right:2%;
    color: #888;
    cursor: pointer;
    opacity: 0.5;
}

.pushpin {
    top:50%;
    position: fixed;
    // width: 100%;
}

.about-section-collapsed {
    cursor: pointer;
}


.top-progress {
    margin:0;
    position:fixed;
    top:0px;
}

#hideAbout {
    cursor: pointer;
}

.arrow-down {
    width: 0;
    height: 0;
    color: black;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid green;
}

nav {
    ul {
        li {
            .active-result {
                float: none;
            }
        }
    }
}
/* Space out content a bit */
body {
    // padding-top: 20px;
    // padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 1000px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
@media screen and (max-width: 350px) {
    #projects-grid {
        padding: 0;
        width: 100%;
        .col {
            padding: 0;
        }
    }
}

@media screen and (max-width: 568px) {
    #map {
        display: none;
    }

    .parallax-container {
        height:200px;
    }
}
/* Fade */
.hvr-fade {
  // display: inline-block;
  // vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  // overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  // background-color: #2098d1;
  color: white;
}


#out-of-projects {
    margin-top: 50px;
    margin-bottom: 70px;
}

@media screen and (min-width: 993px) {
    #footer-links ul {
        margin-top: 52px;
    }
}

.geography__nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 80%;
  justify-items: center;

  .geography__nav-link {
    background-color: $tabs-bg-color;
    color: white;
    margin: 0;
    padding: .4rem;
    width: 100%;
  }
}

// department colors for project card title bars, using attribute: primary_department_css_class

.primary-department-completed {
  background-color: rgb(204, 204, 204);

  span {
    font-size: 1rem;
    font-weight: 400;
  }
}

.primary-department-arts_and_culture {
  background-color: #EA8640;

  span {
    font-size: 1rem;
    font-weight: 400;
  }
}

.primary-department-transportation {
  background-color: #AE9151;

  span {
    font-size: 1rem;
    font-weight: 400;
  }
}

.primary-department-public_health {
  background-color: #CE9FDF;

  span {
    font-size: 1rem;
    font-weight: 400;
  }
}

.primary-department-government_affairs {
  background-color: #539AE9;

  span {
    font-size: 1rem;
    font-weight: 400;
  }
}

.primary-department-strategic_initiatives {
  background-color: #12ADB3;

  span {
    font-size: 1rem;
    font-weight: 400;
  }
}

.primary-department-data_services {
  background-color: #E6D15C;

  span {
    font-size: 1rem;
    font-weight: 400;
  }
}

.primary-department-municipal_collaboration {
  background-color: #F4CBB0;

  span {
    font-size: 1rem;
    font-weight: 400;
  }
}

.primary-department-clean_energy {
  background-color: #14595C;

  span {
    font-size: 1rem;
    font-weight: 400;
  }
}

.primary-department-land_use {
  background-color: #BFADA6;

  span {
    font-size: 1rem;
    font-weight: 400;
  }
}

.primary-department-environment {
  background-color: #7D2104;

  span {
    font-size: 1rem;
    font-weight: 400;
  }
}

.primary-department-communications {
  background-color: #69214F;

  span {
    font-size: 1rem;
    font-weight: 400;
  }
}

.primary-department-other {
  background-color: #574D41;

  span {
    font-size: 1rem;
    font-weight: 400;
  }
}

.card-reveal > span {
  background-color: rgba(206, 196, 189, 0.205);
  border: 1px solid gray;
  border-radius: 15px;
  padding: .5rem;
}


.region-wide {
  color: black;
}

.multi-municipalities {
  color: black;
}

.region-wide.card {
  color: black;
}

.state-wide {
  color: black;
}
